<section class="hero-inner">
  <div class="container">
    <h1 class="inner-title">Тарифы на посещение нашего зоопарка</h1>
  </div>
</section>

<div class="container">
    
  {{#if login}}
  <div>You are logged in</div>
  {{else}}
  <form action="/login" method="post" class="ui form" id="loginForm">
    <div class="warning" id='warning'></div>
    
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" id="email" placeholder="Email" required>
    </div>

    <div class="field">
      <label>Password</label>
      <input type="password" name="password" id="password" placeholder="Password" required>
    </div>

    <button class="ui button" type="submit">Log in</button>

  </form>
  {{/if}}
</div>