<script defer src="/js/admin.js"></script>

{{> adminHeader}}

<div class="container innerpage">
{{> adminNavigation}}

  <div class="add-category">
    <button class='ui button primary' id='add-category-btn'>Добавить новую категорию</button>
  </div>

  <div id="category-form" style='display:none'>
    <h2 class="ui header">Добавить категорию</h2>
    <form action="/admin/addCategory" method="POST" class="ui form" enctype="multipart/form-data">
      <div class="field">
        <label>Название категории</label>
        <input type="text" name="title">
      </div>

      <div class="field">
        <label>Название по-английски (для урла)</label>
        <input type="text" name="englishName">
      </div>

      <div class="field">
        <label>Фото категории</label>
        <input type="file" name="filedata" />
      </div>

      <div class="field">
        <label>Координаты для карты (через запятую)</label>
        <input type="text" name="coordinates">
      </div>

      <div class="field">
        <label>Ссылка на иконку (для карты)</label>
        <input type="text" name="icon">
      </div>

      <div class="field">
        <label>Описание</label> 
        <textarea name="description" cols="30" rows="10"></textarea>
      </div>
      <button class="ui button primary">Отправить</button>
    </form>
  </div>
  {{!-- <div class="ui divider"></div> --}}

{{#each categories}}
  <div class="ui segment" id='segment{{this._id}}'>
    <div class='category-block__admin'>
      <div>
        {{this.title}}
      </div> 
      <div>
        <a href='/admin/categories/edit/{{this._id}}'><i class="edit outline icon"></i></a>
        <a href='#'><i data-action='delete' data-id='{{this._id}}' class="close icon" style='color:red' title='удалить'></i></a>
      </div>
    </div>
  </div>
{{/each}}
</div>
