<ul class='admin-nav'>
  <li><a href='/admin/categories'>Категории</a></li>
  <li><a href='/admin'>Животные</a></li>
  <li><a href='/admin/prices'>Тарифы</a></li>
</ul>
<div class='ui divider'></div>
<div style='margin-bottom: 2em;'></div>