<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

<section class="hero-inner">
  <div class="container">
    <h1 class="inner-title">{{title}}</h1>
  </div>
</section>