<script defer src="/js/slider.js"></script>


<section class="hero-inner">
      <div class="container">
        <h1 class="inner-title">Рептилии</h1>
      </div>
    </section>

    <section class="animal-types">
      <div class="container">
        <!-- <h2 class="main-subtitle">Познакомьтесь с нашими подопечными</h2> -->
        <!-- Animal Types -->
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugit libero tempore, exercitationem quod
          possimus ullam reprehenderit dignissimos expedita asperiores cumque saepe dolorem, sed necessitatibus labore
          illum? Maiores sapiente veniam alias perferendis consequuntur harum, incidunt saepe numquam eveniet, culpa
          nobis id aliquid esse temporibus inventore velit repellat nemo corrupti facilis.
        </p>

        <!-- SLIDER **************************************************************************************** -->
        <div class="blog-slider__container">
          <div class="blogSlides fade">
            <img src="/img/hero1.jpg" />
          </div>

          <div class="blogSlides fade">
            <img src="/img/hero2.jpg" />
          </div>

          <div class="blogSlides fade">
            <img src="/img/hero3.jpg" />
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div class="blogSlider__dots">
          <span class="blogSlider__dots--dot" onclick="currentSlide(1)"></span>
          <span class="blogSlider__dots--dot" onclick="currentSlide(2)"></span>
          <span class="blogSlider__dots--dot" onclick="currentSlide(3)"></span>
        </div>
        <!-- END SLIDER ************************************************************************************ -->

        <div class="animal-types">
          <div class="animal-type">
            <a href="#"><img src="/img/mammals.jpeg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Млекопитающие</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="/img/fish.webp" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Рыбы</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="/img/birds.jpeg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Птицы</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="/img/reptiles.jpg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Рептилии</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="/img/insects.jpeg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Насекомые</a>
            </div>
          </div>
        </div>
        <!-- End Animal Types -->
      </div>
    </section>