<section class="hero-inner">
      <div class="container">
        <h1 class="inner-title">{{category.title}}</h1>
      </div>
    </section>

    <section class="animal-types">
      <div class="container">
        <!-- Animal Types -->
        {{#if category.description}}
        <p>
          {{category.description}}
        </p>
        {{/if}}

        <div class="animal-types">
          {{#unless category.animals}}
          <p>Животных данной категории пока не завезли</p>
          {{/unless}}
          {{#each category.animals}}
          <div class="animal-type">
            <a href="#">
              {{!-- {{#if this.picture}} --}}
              {{!-- <img src="/img/mammals.jpeg" alt="" class="animal-type__img" /></a> --}}
              <img src="/img/nophoto.jpg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">{{this.name}}</a>
            </div>
          </div>
          {{/each}}

        </div>
        <!-- End Animal Types -->
      </div>
    </section>