<section class="hero">
      <div class="container">
        <div class="maintext">Добро пожаловать в наш зоопарк!</div>
        <button class="btn hero-btn">Смотреть животных</button>
      </div>
    </section>

    <section class="animal-types">
      <div class="container">
        <h2 class="main-subtitle">Познакомьтесь с нашими подопечными</h2>
        <!-- Animal Types -->
        <div class="animal-types">
          <div class="animal-type">
            <a href="#"><img src="./img/mammals.jpeg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Млекопитающие</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="./img/fish.webp" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Рыбы</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="./img/birds.jpeg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Птицы</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="./img/reptiles.jpg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Рептилии</a>
            </div>
          </div>

          <div class="animal-type">
            <a href="#"><img src="./img/insects.jpeg" alt="" class="animal-type__img" /></a>
            <div class="animal-type__title">
              <a href="#">Насекомые</a>
            </div>
          </div>
        </div>
        <!-- End Animal Types -->
      </div>
    </section>