<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/js/helpers.js"></script>
  <script defer src="/js/application.js"></script>
  <title>{{title}}</title>
</head>
<body>
  <div class="container">
    <header class="header">
      <div class="logo"><a href='/'>Logo</a></div>
      <ul class="nav">
        {{#unless login}}
          <li class='nav-item'><a href='/login' class='nav-link'>Log in</a></li>
          <li class='nav-item'><a href='/register' class='nav-link'>Sign up</a></li>
        {{/unless}}
        {{#if login}}
          <li class='nav-item'><a href="/profile">{{login}}</a></li>
          <li class='nav-item'><a href="/logout">logout</a></li>
        {{/if}}
        <li class='nav-item'><a href='/' class='nav-link'>Home</a></li>
      </ul>
    </header>
    <main class='main'>
      {{{body}}}
    </main>
  </div>
</body>
</html>