<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/slider.css" />

    <script src="https://kit.fontawesome.com/09b87831a7.js" crossorigin="anonymous"></script>

    <title>Elbrus ZOO</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo">
          <a href="/"><i class="fas fa-dove"></i> ELBRUS ZOO</a>
          <!-- <img src="./img/logo.png" alt="" /> -->
        </div>
        <input type="checkbox" id="toggler" class="toggler" />
        <label for="toggler" class="burger">
          <span><i class="fas fa-bars"></i></span>
        </label>
        <nav class="navbar">
          <ul>
            <li class="navitem"><a href="/" class="navlink">Главная</a></li>
            <li class="navitem"><a href="/animals" class="navlink">Животные</a></li>
            <li class="navitem"><a href="/prices" class="navlink">Тарифы</a></li>
            <!-- <li>
              <a href="#" class="navlink searchlink"><i class="fas fa-search search-icon"></i></a>
            </li> -->
          </ul>
        </nav>
        <div class="admin"><a href="/admin" class="account-link">Личный кабинет</a></div>
      </div>
    </header>
    
    {{{body}}}

    <footer class="footer">
      <div class="container">
        &copy; 2021 - Elbrus Zoo Team
      </div>
    </footer>
  </body>
</html>
