  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=27e7ef3b-2268-4164-9f47-a2a915254de9&lang=ru_RU" type="text/javascript">
    </script>
  <script src="/js/map.js"></script>

<section class="hero-inner">
  <div class="container"> 
  <h1 class="inner-title">Расположение зверей в нашем зоопарке</h1>
  </div>
</section>
<div class="container">
  <div id="map" style="width: 600px; height: 400px">
  </div>
</div>