<div class="tariff">
<button id='tariffWeekDays'>Тариф буднего дня</button>
<button id='dayOff'>Тариф выходного дня</button>
<div class="tab-content">
    <li>Стоимость детского билета: {{tariffWeekDays.priceToChildren}} рублей</li>
    <li>Стоимость взрослого билета: {{tariffWeekDays.price}} рублей</li>
</div>
</div>