* {
  box-sizing: border-box;
}

:root {
  --header-height: 3rem;

  --first-color: #0ba360;
  --second-color: #3cba92;
}

a {
  color: var(--first-color);
  text-decoration: none;
}

h1,
h2 {
  font-weight: 700;
  line-height: 1;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
}

.header {
  background-color: white;
  color: var(--first-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

nav ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: var(--first-color);
  left: -100%;
  top: 2rem;
  transition: left 0.5s;
  list-style: none;
  z-index: 100;
}

nav li {
  margin: 1em 0em 1em 2.75em;
}

.navlink {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo-link,
.account-link {
  color: var(--first-color) !important;
}

.toggler {
  display: none;
}

.toggler:checked ~ nav ul {
  left: 0;
}

.burger {
  position: absolute;
  font-size: 1.5rem;
  top: 0.3rem;
  left: 1rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.hero {
  height: calc(100vh - 3rem);
  background: center center no-repeat url(../img/hero5.jpg);
  background-size: cover;
}

.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-inner {
  background: var(--second-color) top center no-repeat url(../img/hero3.jpg);
  padding: 2em 0;
  margin-bottom: 1.5em;
}

.inner-title {
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.8);
}

.breadcrumbs {
  margin-bottom: 2em;
}

.category_description {
  margin-bottom: 2em;
}

.maintext {
  color: white;
  text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.8);
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  max-width: 65%;
  margin-bottom: 0.5em;
}

.btn {
  padding: 0.75em 1.5em;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

button:active,
button:focus {
  outline: none;
}

.main-subtitle {
  color: var(--first-color);
  background: linear-gradient(45deg, var(--first-color) 33%, var(--second-color) 66%, #8aa9d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 2.5rem;
  margin-top: 1.5em;
}

.animal-types {
  display: grid;
  grid-gap: 2em 1em;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.animal-type {
  max-width: 350px;
}

.animal-type img {
  max-width: 100%;
}

.footer {
  padding: 2em 0;
  background-image: linear-gradient(to top, var(--first-color) 0%, var(--second-color) 100%);
  color: white;
  margin-top: 3em;
  margin-bottom: 0;
}

.tab-tariffWeekDays,
.tab-tariffDaysOff {
  margin-top: 2em;
}

#tariffWeekDays {
  margin-right: 1em;
}

.mydivider {
  margin: 4em 0 !important;
}

.add-category {
  margin: 2em 0 !important;
}

.category-block__admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

form {
  transition: all ease-in 1s;
}

.admin-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  margin: 2em 0 1em;
}

.admin-nav li {
  list-style-type: none;
  margin-right: 1.5em;
}

.td-category {
  display: flex;
  justify-content: space-between;
}

.td-category > span {
  margin: 0 10px;
}

.error-message {
  margin: 15px 0;
  color: red;
  font-weight: bold;
}

.image-preview {
  margin: 1em 0;
  position: relative;
  width: 150px;
}

.preview-close-btn {
  color: red;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.animal-type__img {
  border: 1px solid var(--first-color);
  padding: 5px;
}

.innerpage {
  min-height: calc(100vh - 394px);
}

.payment {
  margin-top: 2em;
}

.payment-action {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

#summ {
  margin-left: 2em;
}

.wrap-add-pic {
  display: none;
}

.wrap-add-pic > .add-animal {
  margin-bottom: 15px;
}

@media (min-width: 900px) {
  .header .container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }
  .logo {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-left: 0;
  }
  .burger {
    display: none;
  }
  nav {
    height: 100%;
  }
  nav ul {
    position: static;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
  }
  nav li {
    margin: 0 1em 0 1em;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 5rem;
  }
  .navlink {
    margin-top: -2px;
    padding-top: 2px;
    display: block;
    color: var(--first-color);
    font-weight: 700;
    text-decoration: none;
    line-height: 5rem;
    border-bottom: 2px solid transparent;
  }
  .navlink:hover {
    border-bottom: 2px solid #f09819;
  }
  .searchlink:hover {
    border-bottom: 2px solid transparent;
  }

  .hero {
    height: calc(100vh - 5rem);
  }

  .maintext {
    font-size: 5rem;
    font-weight: 700;
  }
  .btn {
    font-size: 1rem;
  }
  .animal-type__title {
    font-size: 1.125rem;
  }

  #category-form,
  #animal-form {
    max-width: 60%;
    display: none;
  }
  #category-form {
    margin-bottom: 3em;
  }
}
